:root {
  --primary-color: #f5a9d8;
  --white-color: white;
  --third-color: #f6c4e4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/*navbar*/
.navbar-custom {
  color: white;
  background-color: rgb(23, 23, 23);
  margin-bottom: 50px;
  display: block;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text .a {
  color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
}

/*body*/
body {
  margin: 60px auto;
  padding: 10px;
  min-width: 280px;
  max-width: 800px;
  background-image: url("koi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  margin-top: 90px;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: var(--white-color);
}

h1 {
  font-size: 96px;
  margin: 30px auto;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.9;
}

p {
  padding: 20px;
  margin: 10px auto;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.lorem {
  background-color: rgba(76, 74, 74, 0.7);
  padding: 30px;
  margin: 30px auto;
  gap: 20px;
}

/*containers*/

.container {
  margin: 30px auto;
}

.col-12 {
  display: block;
  margin: 30px auto;
  padding: 0 auto;
  min-width: fit-content;
  justify-content: center;
}

.about-paragraphs p {
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-code {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 500px;
  padding: 20px auto;
  border-radius: 4px;
  justify-content: center;
}

.container-contact {
  background-color: rgba(255, 255, 255, 0.5);
  width: 320px;
  margin: 30px auto;
  border-radius: 4px;
  margin: 20px auto;
}

.container-profile {
  display: block;
  max-width: 550px;
  padding: 20px;
  border-radius: 4px;
}

.about-main-content {
  justify-content: center;
  margin: 30px auto;
}

/*nav links*/
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

/*buttons*/
.btn {
  margin-top: 2px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--third-color);
}

.work-link,
.btn {
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  color: black;
  border: var(--primary-color);
}

.work-link:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.about-link {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--white-color);
}

.about-link:hover {
  color: var(--white-color);
  background-color: var(--third-color);
}

/* email link*/
.github {
  color: var(--white-color);
  font-size: 25px;
  text-decoration: underline;
}

.github:hover {
  text-decoration: none;
  color: var(--primary-color);
}

a {
  text-align: center;
}

/*images*/
.portfolio-image,
.weatherapp-react-image,
.dictionary-image,
.todo-list-image {
  height: 450px;
  width: 400px;
  border: 3px solid white;
  margin: 30px auto;
  justify-content: center;
}

.coding {
  height: 200px;
  width: 350px;
  margin: 15px auto;
}

.bootstrap {
  height: 290px;
  width: 200px;
}

.react {
  height: 150px;
  width: 130px;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 20px;
}

.seo {
  height: 150px;
  width: 150px;
  margin: 10px auto;
}

.github-icon,
.linkedin-icon,
.email-icon {
  width: 80px;
  justify-content: center;
  border: 0 none;
  margin: 5px;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.profile-picture {
  width: 300px;
  max-width: 400px;
  margin: 30px auto;
  border: 2px solid white;
  border-radius: 100%;
}
