:root {
  --primary-color: #f5a9d8;
  --white-color: white;
  --third-color: #f6c4e4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/*navbar*/
.navbar-custom {
  color: white;
  background-color: rgb(23, 23, 23);
  margin-bottom: 50px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text .a {
  color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
}

/*body*/
body {
  margin: 60px auto;
  max-width: 800px;
  background-image: url("koi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  color: var(--white-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.9;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.lorem {
  background-color: rgba(255, 255, 255, 0.2);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

/*nav links*/
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

/*buttons*/
.btn {
  margin-top: 2px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--third-color);
}

.work-link,
.btn {
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  color: black;
  border: var(--primary-color);
}

.work-link:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.about-link {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--white-color);
}

.about-link:hover {
  color: var(--white-color);
  background-color: var(--third-color);
}

/* email link*/
.email-link {
  display: flex;
  justify-content: center;
  color: var(--white-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

a {
  text-align: center;
}

.weatherapp {
  height: 450px;
  width: 400px;
}

.coding {
  height: 200px;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
}

.bootstrap {
  height: 290px;
  width: 200px;
  justify-content: center;
}

.react {
  height: 150px;
  width: 130px;
  justify-content: center;
}

.seo {
  height: 150px;
  width: 150px;
  justify-content: center;
}

.container-code {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 540px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}
